* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 100%;
    justify-content: center;
}

ul{
    width: 50%;
    height: 30px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

li a{
    text-decoration: none;
    color: black;
}

.left-header{
    width: 50%;
    background: green;
}

.header{
    width: 100%;
    display: flex;
}

.right-header {
    width: 50%;
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.left-header img{
    width: 50%;
}

.bacot{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}